# Admin Credentials (optional: set via environment or configure via first-time setup in UI)
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Neon PostgreSQL Database Connection URL (Serverless PostgreSQL)
DATABASE_URL=postgresql://neondb_owner:npg_VuRmHWJE9yb3@ep-dawn-fog-azzl4nav-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
